---
http_interactions:
- request:
    method: get
    uri: https://api.scryfall.com/cards/multiverse/382866
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Action-Cache:
      - HIT
      X-Scryfall-Card-Image:
      - https://img.scryfall.com/cards/large/en/vma/4.jpg?1517813031
      X-Scryfall-Card:
      - https://scryfall.com/card/vma/4?utm_source=api
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline
      Content-Transfer-Encoding:
      - binary
    body:
      encoding: ASCII-8BIT
      string: '{"object":"card","id":"bd8fa327-dd41-4737-8f19-2cf5eb1f7cdd","oracle_id":"5089ec1a-f881-4d55-af14-5d996171203b","multiverse_ids":[382866],"mtgo_id":53155,"mtgo_foil_id":53156,"name":"Black
        Lotus","uri":"https://api.scryfall.com/cards/vma/4","scryfall_uri":"https://scryfall.com/card/vma/4?utm_source=api","layout":"normal","highres_image":true,"image_uris":{"small":"https://img.scryfall.com/cards/small/en/vma/4.jpg?1517813031","normal":"https://img.scryfall.com/cards/normal/en/vma/4.jpg?1517813031","large":"https://img.scryfall.com/cards/large/en/vma/4.jpg?1517813031","png":"https://img.scryfall.com/cards/png/en/vma/4.png?1517813031","art_crop":"https://img.scryfall.com/cards/art_crop/en/vma/4.jpg?1517813031","border_crop":"https://img.scryfall.com/cards/border_crop/en/vma/4.jpg?1517813031"},"cmc":0.0,"type_line":"Artifact","oracle_text":"{T},
        Sacrifice Black Lotus: Add three mana of any one color.","mana_cost":"{0}","colors":[],"color_identity":[],"legalities":{"standard":"not_legal","future":"not_legal","frontier":"not_legal","modern":"not_legal","legacy":"banned","pauper":"not_legal","vintage":"restricted","penny":"not_legal","commander":"banned","1v1":"banned","duel":"banned","brawl":"not_legal"},"reserved":true,"foil":true,"nonfoil":true,"oversized":false,"reprint":true,"set":"vma","set_name":"Vintage
        Masters","set_uri":"https://api.scryfall.com/sets/vma","set_search_uri":"https://api.scryfall.com/cards/search?order=set\u0026q=e%3Avma\u0026unique=prints","scryfall_set_uri":"https://scryfall.com/sets/vma?utm_source=api","rulings_uri":"https://api.scryfall.com/cards/vma/4/rulings","prints_search_uri":"https://api.scryfall.com/cards/search?order=set\u0026q=%21%E2%80%9CBlack+Lotus%E2%80%9D\u0026unique=prints","collector_number":"4","digital":true,"rarity":"mythic","illustration_id":"da62ded1-bedd-44c6-8950-ca56e691a899","artist":"Chris
        Rahn","frame":"2015","full_art":false,"border_color":"black","timeshifted":false,"colorshifted":false,"futureshifted":false,"edhrec_rank":13691,"tix":"30.78","related_uris":{"gatherer":"http://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=382866","tcgplayer_decks":"http://decks.tcgplayer.com/magic/deck/search?contains=Black+Lotus\u0026page=1\u0026partner=Scryfall","edhrec":"http://edhrec.com/route/?cc=Black+Lotus","mtgtop8":"http://mtgtop8.com/search?MD_check=1\u0026SB_check=1\u0026cards=Black+Lotus"},"purchase_uris":{"amazon":"https://www.amazon.com/gp/search?ie=UTF8\u0026index=toys-and-games\u0026keywords=Black+Lotus\u0026tag=scryfall-20","ebay":"http://rover.ebay.com/rover/1/711-53200-19255-0/1?campid=5337966903\u0026icep_catId=19107\u0026icep_ff3=10\u0026icep_sortBy=12\u0026icep_uq=Black+Lotus\u0026icep_vectorid=229466\u0026ipn=psmain\u0026kw=lg\u0026kwid=902099\u0026mtid=824\u0026pub=5575230669\u0026toolid=10001","tcgplayer":"https://shop.tcgplayer.com/magic/product/show?ProductName=Black+Lotus\u0026partner=Scryfall","magiccardmarket":"https://www.cardmarket.com/Magic?mainPage=showSearchResult\u0026referrer=scryfall\u0026searchFor=Black+Lotus","cardhoarder":"https://www.cardhoarder.com/cards/53155?affiliate_id=scryfall\u0026ref=card-profile\u0026utm_campaign=affiliate\u0026utm_medium=card\u0026utm_source=scryfall","card_kingdom":"https://www.cardkingdom.com/catalog/search?filter%5Bname%5D=Black+Lotus\u0026partner=scryfall\u0026utm_campaign=affiliate\u0026utm_medium=scryfall\u0026utm_source=scryfall","mtgo_traders":"http://www.mtgotraders.com/deck/ref.php?id=53155\u0026referral=scryfall","coolstuffinc":"https://www.coolstuffinc.com/main_search.php?pa=searchOnName\u0026page=1\u0026q=Black+Lotus\u0026resultsPerPage=50\u0026utm_source=scryfall"}}'
  recorded_at: Thu, 03 May 2018 20:51:14 GMT
- request:
    method: get
    uri: https://api.scryfall.com/cards/multiverse//382866
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Action-Cache:
      - HIT
      X-Scryfall-Card-Image:
      - https://img.scryfall.com/cards/large/en/vma/4.jpg?1517813031
      X-Scryfall-Card:
      - https://scryfall.com/card/vma/4?utm_source=api
      Content-Type:
      - application/json; charset=utf-8
      Co[...]
